<nav class="consumer-toolbar" aria-label="Navegación principal del consumidor">
  <div class="toolbar-container">
    <a
      class="toolbar-item"
      routerLink="/home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      {{ 'option.home' | translate }}
    </a>

    <a
      class="toolbar-item"
      routerLink="/ofertas"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      {{ 'option.offers' | translate }}
    </a>

    <a
      class="toolbar-item"
      routerLink="/categorias"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      {{ 'option.categorias' | translate }}
    </a>

  </div>
</nav>

