:root { --purple:
  #A751D4;
  --cta:#AB58E3;
  --text:#000;
}
* {
  box-sizing: border-box;
}

html, body { margin: 0; padding: 0; }

html, body { font-family:
  'Poppins',
  system-ui,
  -apple-system,
  sans-serif;
}

